@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-slate-900 text-slate-100 font-sans antialiased;
  }
}

.glass-nav {
  @apply backdrop-blur-md bg-slate-900/70 border-b border-slate-800;
}